@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
	font-family: 'Secular One';
	color: white;
}

body {
	background-image: url('https://dummyimage.com/1500x800/000/fff');
	background-attachment: fixed;
	background-repeat: no-repeat;
}